/* Write your CSS here */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  font-family: 'Roboto';
  padding: 30px;
}

.search-space {
  display: flex;
  flex-direction: row;
  background-color: #f1f5f9;
  border: none;
  border-radius: 6px;
  height: 40px;
  width: fit-content;
  margin-left: 60px;
}
.heading {
  margin-left: 60px;
}

@media screen and (min-width: 768px) {
  .app-container,
  .search-space,
  .heading {
    align-self: flex-start;
  }
}

.search-input {
  background-color: #f1f5f9;
  border: none;
  outline: none;
  padding-left: 15px;
  color: #0f172a;
}

.search-icon {
  height: 40px;
  width: 40px;
}
.destinationItems-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
